# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars.json
override.tf
override.tf.json
.terraform.lock.hcl
.login.ps1

# Optional: don't commit tfvars if it contains secrets
# terraform.tfvars
login.ps1
*.env
