name: Terraform Caller Workflow

on:
  push:
    branches:
      - main
      - "feature/**"
  pull_request:
    branches: ["main"]

jobs:
  call-terraform:
    uses: ./.github/workflows/terraform-reusable.yml

    with:
      tfvars_file: terraform.tfvars

    secrets: inherit
